Function("SfwbarInit") {
  SetLayer "bottom"
  SetBarSize "status_bar", "100%"

  SetLayer "bottom"
  SetBarSize "task_bar", "100%"
}

# Task Switcher, trigger when press Alt+Tab
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

include("winops.widget")

layout "status_bar" {

    # launchers
    include("launchers.widget")

	include("component/modules-left.widget")


    # flow to right
    label {
        css = "* { -GtkWidget-hexpand: true; }"
    }

    tray {
        rows = 1
    }

	include("component/modules-center.widget")

    
    # flow to right
    label {
        css = "* { -GtkWidget-hexpand: true; }"
    }

	include("component/modules-right.widget")
}

# contain taskbar
layout "task_bar" {

    taskbar {
        rows = 1
        css = "* { -GtkWidget-hexpand: true; }" # stretch horizontally
        group = false
        icons = true
        labels = true
        # on right-click open winops
        action[3] = Menu "winops"
    }
}

#CSS
#hidden {
  -GtkWidget-visible: false;
}

#separate-line,
#dbeaver,
#mybrowser,
#filemanager,
#myterminal,
#myclock,
#menu,
#volume,
#cputemp,
#battery,
#ram,
#cpu {
    font: 9pt Terminus;
    background-color: #1e2327;
    -GtkWidget-align: 0.5;
    -GtkWidget-hexpand: true;
    -GtkWidget-vexpand: true;
    min-width: 23px;
    min-height: 26px;
    padding: 0px 4px 0px 0px;
    color: #D3C6AA;
}

@define-color theme_text_color white;
@define-color theme_bg_color black;
@define-color theme_fg_color white;
@define-color borders rgba(256,256,256,0.3);

menu {
  background-color: black;
  border: 1px solid @borders;
  padding: 3px;
}

menuitem {
  color: @theme_text_color;
  padding: 2px;
}

window#status_bar {
    -GtkWidget-direction: top;
    background-color: #1e2327;
}

window#task_bar {
    -GtkWidget-direction: bottom;
    background-color: #1e2327;
}



